/* Write your code here: */


H1, H2{
    color: blueviolet;
}

.box > .done {
    color: firebrick;
}

.box li{
    color: blue;
}

li.done{
    color: seagreen;
}

ul p.done{
    font-size: .5rem;
}